<section>
  <div class="container">
    <h2>Selecciona un ejercicio</h2>
    <ul>
      <li class="m-auto">
        <a class="btn btn-outline-primary" href="/numero"
          >Ejercicio numeros pares</a
        >
      </li>
      <li class="m-auto">
        <a class="btn btn-outline-primary" href="/tiempo"
          >Ejercicio convertir tiempo</a
        >
      </li>
      <li class="m-auto">
        <a class="btn btn-outline-primary" href="/equipo">Ejercicio equipos</a>
      </li>
    </ul>
  </div>
</section>
